.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mg10{
    margin: 10px;
}
.mg10-L{
    margin-left: 10px;
}
.mg10-R{
    margin-right: 10px;
}
.Container{
    padding: 100px;
}
.Contents{
    width: 50%;
    border: 5px solid black;
    min-height: 50vh;
    background: linear-gradient(192deg, #1d08d8, #b91ae0);
}
.Text{
    color: white;
    font-family: "Last Ninja", Impact, fantasy;
    font-size: 3.5rem;

}
.Contents-box{
    padding-top: 130px;
}
.input__button {
    background-color: transparent;
    font-size: 30px;
    line-height: 60px;
    margin-left: 5px;
    color: white;
    border: 0;
  }
  .item {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #fbe7c6;
    padding: 0px 30px;
  }
  
