body{
    height: 100vh;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 100%;
    height: 100%;
}
.card-box{
    width: 70%;
    height: 100%;
    border: 10px solid black;
}
.card{
    width: 500px;
    height: 300px;
    border: 5px solid red; 
    margin: 15px;
}