body {
    max-width: 1920px;
}

/* 헤더 영역 */
header {
    background-color: #f6f5ef;
    border-bottom: 1px solid #e5e5e5;
    border-top: 2px solid #000;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/* safe area */
.w1100 {
    width: 59.29166666666667%;
    margin: 0 auto;
}

/* gnb 영역 */
.gnb {
    height: auto;
}

.serve_gnb {
    position: relative;
}

.util_nav {
    color: #333;
    display: block;
    font: normal 13px Avenir, Arial, georgia;
    text-align: center;
    width: 100%;
    padding-right: 54px;
    padding-top: 8px;
    line-height: 2;

}

.sub_nav {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #555;
    margin-bottom: 15px;
}

.sub_nav li::after {
    content: "|";
    font-weight: 100;
    opacity: 0.5;
    margin-left: 30px;
}

.sub_nav li:last-child::after {
    content: "";
}

.sub_nav::after {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
}

.util_nav>ul>li {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    float: left;
}

.searchBtn {
    width: 30px;
    background-color: #fff;
    border: 1px solid #908d8d;
    border-radius: 5px;
    padding-top: 5px;
    position: relative;
}

.searchBtn img {
    position: absolute;
    left: 5px;
}

.Logo {
    margin-top: 15px;
}

/* 리모컨 */
.add {
    position: fixed;
    right: 0;
}

.add div {
    width: 150px;
    height: 50px;
    margin-bottom: 55px;
}

.add img {
    width: 100%;
}

/* 리모컨 */
/* 네비게이션 */
.logo_var {
    float: right;
}

.logo_var>ul {
    display: flex;
}

.logo_var>ul>li {
    height: 56px;
    padding-left: 15px;
    padding-right: 15px;
}

.logo_var>ul>li:hover {
    background-color: #2C2A29;
    color: #64a70b;

}

.logo_var>ul>li:hover .gnb_var {
    transition: all 0.5s;
}

/* 로고 */
h1 {
    float: left;
}

/* 마우스 호버시 gnb */
.coffe:hover .coffe_gnb,
.menu:hover .menu_gnb,
.news:hover .news_gnb,
.responstible:hover .responsibility_gnb,
.reward:hover .rewards_gnb,
.sale:hover .corporate_gnb,
.store:hover .store_gnb {
    opacity: 1;
    /* display: block; */
    height: 300px;
    z-index: 11;

}

.coffe:hover .gnb_tab li,
.menu:hover .gnb_tab li,
.news:hover .gnb_tab li,
.responstible:hover .gnb_tab li,
.reward:hover .gnb_tab li,
.sale:hover .gnb_tab li,
.store:hover .gnb_tab li {
    /* opacity: 1; */
    display: block;
}

.gnb_tab li {
    /* opacity: 0; */
    display: none;
    transition: all 0.5s;
}

.gnb_var {
    color: #fff;
    font-size: 14px;
    line-height: 3;
    padding-top: 5px;
    background-color: #2C2A29;
    position: absolute;
    width: 100%;
    left: 0;
    top: 112px;
    text-align: left;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
    z-index: -1;

}

.gnb_tab {
    display: flex;
}

.gnb_tab li {
    width: 220px;

}

.gnb_tab li ul li {
    color: #999;
    font-size: 12px;
    line-height: 2;
    cursor: pointer;

}

.gnb_tab li ul li:hover {
    color: #fff;
    transition: all 0.5s;
}

/* end gnb */
/* main loveUs 영역 */
.loveUs {
    background-image: url("../images/mainBackGround.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    margin: 0 auto;
    height: 55vh;
    width: 100%;
}

.loveImgbox,
.loveUsContainer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;

}

.main_Text {
    position: absolute;
    width: 20.83333333333333%;
    left: 13%;
    top: 40%;
}

.main_Text img {
    width: 100%;
}

.btn_slogan {
    position: absolute;
    left: 20%;
    top: 60%;
    padding: 7px 15px;
    border: 2px solid #007042;
    border-radius: 5px;
    cursor: pointer;
}

.btn_slogan:hover {
    background-color: #007042;
    color: #fff;
    transition: all 0.5s;
}

.loveUsImg {
    position: absolute;
    width: 15.625%;
    height: 40vh;
}

.loveUsImg:nth-child(1) {
    left: 34%;
    top: 5%;
}

.loveUsImg:nth-child(2) {
    left: 47%;
    top: 0;
    height: 45vh;

}

.loveUsImg:nth-child(3) {
    left: 59%;
    top: 5%;
}

.loveUsImg img {
    width: 100%;
    height: 100%;
}

/* end main loveUs */
/* notice_left */
.line_notice {
    display: flex;
    justify-content: center;
    align-content: center;

}

.line_notice_left {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    padding-right: 25px;
    align-content: center;
    background-color: #000;
    position: relative;
    padding-top: 5px;
}

.line_notice_left h2 {
    font-size: 20px;
    position: absolute;
    left: 30%;
    top: 15px;
    padding-top: 5px;
    color: #fff;
}

.notice {
    width: 50%;
    position: relative;
    color: #fff;
    margin-left: 15px;
}

.notice li {
    position: absolute;
    font-size: 14px;
    opacity: 0;
    cursor: pointer;
}

.line_notice_left i {
    float: right;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    cursor: pointer;
}

/* benner slider */
.benner {
    padding-top: 15px;
    position: absolute;
    left: 35%;
    width: 50%;
    z-index: 9999;

}

.kind_wrap {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.kind_wrap>.kind_slider {
    overflow: hidden;
}

.kind_wrap>.kind_slider .slider {
    transition: 0.5s;
    z-index: -9999;
}

.arrow {
    display: none;
}

.kind_slider {
    height: 25px;
}

.slider li {
    color: #fff;
    width: 470px;
    height: 25px;
}

/* end notice_left  */
/* notice_Right */
.line_notice_right {
    width: 45%;
    line-height: 2.5;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 250px;
}

.line_notice_right h2 {
    color: #000;
    font-weight: 900;
    margin-right: 30px
}

/* end notice_Right */


/* reward */
.new-rewards_wrap {
    background-color: #1e3932;
    padding: 30px 0 30px 0;
    color: #fff;
}

.main_reward {
    display: flex;
}

.main_reward_join {
    width: 100%;
    margin-left: 25px;
}

.main_reward_img {
    width: 20%;
}

.main_reward_img img {
    width: 100%;
}

.main_reward_register {
    width: 100%;
    border-bottom: 1px solid #4b615b;
}

.reward_msg {
    float: left;
    font-size: 16px;
    color: #fff;
    padding-bottom: 5px;
}

.reward_msg h2 {
    font-size: 26px;
    line-height: 2;
}

.reward_msg span {
    font-weight: bold;
}

.reward_msg p {
    line-height: 1.5;
}

.reward_btn {
    float: right;
    display: flex;
    margin-top: 50px;
}

.reward_btn div {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;

}

.reward_btn div:nth-child(1) {
    background-color: #00704a;
}

.reward_btn div:nth-child(2) {
    border: 2px solid #fff;
}

.reward_btn div:hover {
    background-color: black;
    transition: all 0.5s;
}

.reward_gift {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
}

.reward_gift span {
    font-weight: bold;
}

.reward_gift_btn {
    padding: 5px 12px 0 12px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.reward_gift_btn:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
}

/* end reward */

/* belend */
.main-bean_wrap {
    background-image: url("../images/cherryblossom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main_bean_text {
    color: #ef869a;

}

.main_bean_text h2 {
    color: #e54360;
    font-size: 30px;
    line-height: 2;
}

.cherry_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 25px;
    width: 60%;
}

.notosanskr p:last-child {
    padding: 5px 15px 10px 15px;
    color: #e54360;
    border: 2px solid #e54360;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    width: 120px;
    margin-top: 60px;
}

.notosanskr p:last-child:hover {
    background-color: #ef869a;
    border-color: #ef869a;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;

}

/* end belend */

/* costarica */
.costaRica {
    background-image: url("../images/costaRica.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 30px;
}

.costaRica img {
    width: 100%;

}

.costaRica_left img {
    width: 80%;
}

.costaRica_contents {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 80%;
    position: relative;
}

.costaRica_left {
    width: 30%;
    margin-right: 300px;
    text-align: center;
    z-index: 10;
}

.costaRica_right {
    position: absolute;
    width: 100%;
    height: 32vh;
    left: 4%;
    top: 0;
}

.costaRica_right img {
    height: 100%;
    width: 100%;
    z-index: -1;
}

.costaRica p {
    padding: 5px 15px 10px 15px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    width: 120px;
    margin-top: 40px;
    margin-left: 38%;
    z-index: 10;
}

.costaRica_left p:hover {
    color: #fff;
    cursor: pointer;
    background-color: #7d5e2d;
    transition: all 0.5s;

}

/* end costarica */

/* favorite */
.favorite {
    background-image: url("../images/background_favorite.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0 100px 0;
    height: 80vh;
}

.favorite_contents {
    position: relative;
}

.favorite_left {
    position: relative;
}

.favorite p {
    padding: 5px 15px 10px 15px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    width: 120px;
    margin-top: 40px;
    margin-left: 38%;
    display: none;
}

.favorite p:hover {
    color: #fff;
    cursor: pointer;
    background-color: #000;
    transition: all 0.5s;
}

.favoriteVisual-text {
    position: absolute;
    /* left: 10vh; */
    /* transform: translateX(100px); */
}

.favorite-text {
    position: absolute;
    /* left: -25vh; */
    bottom: -45vh;

}

.favorite_right {
    position: absolute;
    right: -25%;
}

/* end favorite */