/* reward */
.new-rewards-wrap {
    background-color: #1e3932;
    padding: 30px 0 30px 0;
    color: #fff;
}

.main-reward {
    display: flex;
}

.main-reward-join {
    width: 100%;
    margin-left: 25px;
}

.main-reward-img {
    width: 20%;
}

.main-reward-img img {
    width: 100%;
}

.main-reward-register {
    width: 100%;
    border-bottom: 1px solid #4b615b;
}

.reward-msg {
    float: left;
    font-size: 16px;
    color: #fff;
    padding-bottom: 5px;
}

.reward-msg h2 {
    font-size: 26px;
    line-height: 2;
}

.reward-msg span {
    font-weight: bold;
}

.reward-msg p {
    line-height: 1.5;
}

.reward-btn {
    float: right;
    display: flex;
    margin-top: 50px;
}

.reward-btn div {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;

}

.reward-btn div:nth-child(1) {
    background-color: #00704a;
}

.reward-btn div:nth-child(2) {
    border: 2px solid #fff;
}

.reward-btn div:hover {
    background-color: black;
    transition: all 0.5s;
}

.reward-gift {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
}

.reward-gift span {
    font-weight: bold;
}

.reward-gift-btn {
    padding: 5px 12px 0 12px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.reward-gift_btn:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
}

/* end reward */