#calc {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
  }

  .calc-sum {
    max-width: 350px;
    padding: 1em;
    display: flex;
    justify-content: right;
    background-color: rgb(129, 128, 128);
    color: #ffffff;
    font-size: 24px;
  }

  .calc-value {
    text-align: right;
  }
  .calc-body {
    display: flex;
    justify-content: space-between;
  }

  .calc-body button {
    width: 100%;
    padding: 2em 1em;
    background-color: transparent;
    outline: none;
    border: 1px solid #dbdbdb;
    cursor: pointer;
  }
  .calc-body button:hover{
    background-color: rgb(133, 130, 130);
    color: white;
  }